<div fxLayout="column" fxLayoutGap="20px">

  <div class="demo-container" [fxLayout]="layout" [fxLayoutGap]="space.value">

    <div class="flex-item bg-color-primary">ONE</div>
    <div class="flex-item bg-color-primary">TWO ROW</div>
    <div class="flex-item bg-color-primary">THREE</div>

  </div>

  <div fxLayout="row" fxLayoutGap="30px">

    <div>
      <span>Direction</span>
      <mat-radio-group fxLayout="column" fxLayoutGap="8px">
        <mat-radio-button *ngFor="let option of layoutList" [value]="option.value" [checked]="option.selected"
          (click)="onLayoutChange(option.value)">
          {{option.label}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayout="column">
      <span>Spacing</span>
      <mat-form-field>
        <input #space matInput>
      </mat-form-field>
    </div>

  </div>

</div>
