<div class="main-container">
  <mat-tab-group>

    <mat-tab label="Directives principales">
      <div fxLayout="column" fxLayoutGap="50px" class="tab-content">
        <app-flex-container-demos></app-flex-container-demos>
        <app-flex-item-demos></app-flex-item-demos>
        <app-flex-responsive-demos></app-flex-responsive-demos>
      </div>
    </mat-tab>
    <mat-tab label="Demo live">
      <div class="tab-content">
        <app-flex-live-demo></app-flex-live-demo>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

<!-- <router-outlet></router-outlet> -->
