<div fxLayout="row" fxLayoutGap="50px">

  <div fxFlex="70" fxLayout="column" fxLayoutGap="30px">

    <div>
      <h3>fxLayout="row"</h3>
      <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center" class="flex-container-row">
        <div fxFlex="100px" class="flex-item">ONE</div>
        <div fxFlex="100px" class="flex-item">TWO</div>
        <div fxFlex="100px" class="flex-item">THREE</div>
      </div>
    </div>

    <div>
      <h3>fxLayout="row-reverse"</h3>
      <div fxLayout="row-reverse" fxLayoutGap="30px" fxLayoutAlign="start center" class="flex-container-row">
        <div fxFlex="100px" class="flex-item">ONE</div>
        <div fxFlex="100px" class="flex-item">TWO</div>
        <div fxFlex="100px" class="flex-item">THREE</div>
      </div>
    </div>
  </div>

  <div fxFlex="15">
    <h3>fxLayout="column"</h3>
    <div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="start center" class="flex-container-column">
      <div fxFlex="66px" class="flex-item">ONE</div>
      <div fxFlex="66px" class="flex-item">TWO</div>
      <div fxFlex="67px" class="flex-item">THREE</div>
    </div>
  </div>

  <div fxFlex="15">
    <h3>fxLayout="column-reverse"</h3>
    <div fxLayout="column-reverse" fxLayoutGap="30px" fxLayoutAlign="start center" class="flex-container-column">
      <div fxFlex="66px" class="flex-item">ONE</div>
      <div fxFlex="66px" class="flex-item">TWO</div>
      <div fxFlex="67px" class="flex-item">THREE</div>
    </div>
  </div>

</div>
